{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{mo.img.url}}" width="300" height="300">
        </div>
        <div class="col-md-6">
            <h2>{{mo.name}}</h2>
            <h4>{{mo.desc}}</h4>
             <h6>{{mo.year}}</h6>
<a class="btn btn-warning" href="{% url 'movieapp:update' mo.id %}">Update</a>
<a class="btn btn-danger" href="{% url 'movieapp:delete' mo.id %}">delete</a>
        </div>
    </div>
</div>
{% endblock %}